#!/usr/bin/env nextflow
/*
vim: syntax=groovy
-*- mode: groovy;-*-
*/

profiles {
    standard {
        process.executor = "local"
    }

    sumner {
        process.executor = "slurm"
        process.module = "slurm"
        process.clusterOptions = "-q batch"
        params.max_cpus = 72
        params.max_memory = 768.GB
    }

    winter {
        process.executor = "slurm"
        process.module = "slurm"
        process.clusterOptions = "-p gpu --gres gpu:1"
    }

    helix {
        process.executor = "pbs"
        process.queue = "batch"
    }
}


executor {
    $pbs {
        submitRateLimit = "2 sec"
    }

    $slurm {
        submitRateLimit = "2 sec"
    }
}


process {
    cpus = 1
    memory = 4.GB
    time = 1.hour

    maxRetries = 3

    // Capture exit codes from upstream processes when piping
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: "standard" {
        time = 12.hour
    }

    withLabel: "long" {
        time = 7.day
        clusterOptions = "-q long"
    }

    withLabel: "high_mem" {
        memory = 256.GB 
        clusterOptions = "-q high_mem"
    }
}
