#!/usr/bin/env nextflow
/*
vim: syntax=groovy
-*- mode: groovy;-*-
*/

profiles {
    standard {
        process.executor = "local"
    }

    sumner {
        process.executor = "slurm"
        process.module = "slurm"
        process.clusterOptions = "-q batch"
	params.max_cpus = 72
	params.max_memory = 768.GB
    }
    winter{
	process.executor = "slurm"
        process.module = "slurm"
        process.clusterOptions = "-q batch"
    }
    helix {
        process.executor = "pbs"
        process.queue = "batch"
    }
}


executor {
    $pbs {
        submitRateLimit = '2 sec'
    }
    $slurm {
        submitRateLimit = '2 sec'
    }
}


process {
    cpus = 1
    memory = 4.GB
    time = 1.hour

    maxRetries = 3

    withLabel: "short_job" {
        cpus = 1
	memory = 4.GB
    }
    withLabel:high_mem{
    	cpus = 8
    	time = '12:00:00' 
    	memory = '250.GB' 
    	clusterOptions = '-q long'
    }
}
